[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pydocstyle = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
