[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pydocstyle = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
jupyterlab = "*"
cartopy = {path = "./lib/Cartopy-0.18.0-cp38-cp38-win_amd64.whl"}
geoviews = "*"
ipykernel = "*"
bokeh = "*"
tables = "*"

[requires]
python_version = "3.8"
